{% extends 'base.html.twig' %}

{% block title %}Composer index{% endblock %}

{% block body %}
    <h1>Composer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for composer in composers %}
            <tr>
                <td>{{ composer.id }}</td>
                <td>{{ composer.firstName }}</td>
                <td>{{ composer.lastName }}</td>
                <td>
                    <a href="{{ path('app_composer_show', {'id': composer.id}) }}">show</a>
                    <a href="{{ path('app_composer_edit', {'id': composer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_composer_new') }}">Create new</a>
{% endblock %}
