{% extends 'base.html.twig' %}

{% block title %}Director index{% endblock %}

{% block body %}
    <h1>Director index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for director in directors %}
            <tr>
                <td>{{ director.id }}</td>
                <td>{{ director.firstName }}</td>
                <td>{{ director.lastName }}</td>
                <td>
                    <a href="{{ path('app_director_show', {'id': director.id}) }}">show</a>
                    <a href="{{ path('app_director_edit', {'id': director.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_director_new') }}">Create new</a>
{% endblock %}
